idea/
.ipynb_checkpoints/
.DS_Store
vol1/.ipynb_checkpoints
vol1/.DS_Store
vol2/.ipynb_checkpoints
vol2/.DS_Store
vol3/.DS_Store
vol3/.ipynb_checkpoints
vol4/.DS_Store
vol4/.ipynb_checkpoints
vol5/.ipynb_checkpoints/
vol5/.DS_Store
vol6/.ipynb_checkpoints/
vol6/.DS_Store
vol7/.ipynb_checkpoints/
vol7/.DS_Store
vol8/.ipynb_checkpoints/
vol8/.DS_Store
